#!/bin/bash
# MacOS build version: {{ output "sw_vers" "--buildVersion" }}
# Profile: {{ .profile }}

brew bundle --file=/dev/stdin <<EOF
{{- $common := .packages.darwin.common }}
{{- $profilePkgs := index .packages.darwin .profile }}
{{ range $common.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range $profilePkgs.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range $common.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range $profilePkgs.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range $common.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range $profilePkgs.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range $common.vscodes -}}
vscode {{ . | quote }}
{{ end -}}
{{ range $profilePkgs.vscodes -}}
vscode {{ . | quote }}
{{ end -}}
EOF
