{{- $profile := promptChoiceOnce . "profile" "Machine profile" (list "personal" "work") -}}
{{- $email := promptStringOnce . "email" "Email Address" -}}
{{- $name := promptStringOnce . "name" "Full Name" -}}


[data]
    profile = {{ $profile | quote }}
    email = {{ $email | quote }}
    name = {{ $name | quote }}

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.chezmoiscripts/.bootstrap-dependencies.sh"