{{- $context7Key := onepasswordRead "op://cloudlab/context7/credential" -}}
{
  "context7": {
    "type": "stdio",
    "command": "npx",
    "args": ["-y", "@upstash/context7-mcp@{{ .versions.context7_mcp }}", "--api-key", "{{ $context7Key }}"],
    "env": {}
  }
}
