{{- /* Build enabledPlugins record from marketplace plugin entries */ -}}
{{- $plugins := dict -}}
{{- range $marketName, $market := .marketplaces -}}
{{-   range $plugin := (index $market "plugins" | default list) -}}
{{-     $key := printf "%s@%s" $plugin $marketName -}}
{{-     $_ := set $plugins $key true -}}
{{-   end -}}
{{- end -}}
{{- $settings := dict
    "model" "opus[1m]"
    "theme" "dark-daltonized"
    "permissions" .permissions
    "fastMode" true
    "effortLevel" "high"
    "showTurnDuration" true
    "teammateMode" "tmux"
    "env" (dict "CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS" "1" "CLAUDE_CODE_DISABLE_AUTO_MEMORY" "0" "CLAUDE_CODE_SUBAGENT_MODEL" "opus")
-}}
{{- if $plugins -}}
{{-   $_ := set $settings "enabledPlugins" $plugins -}}
{{- end -}}
{{ $settings | toPrettyJson }}
