{{- /* Build enabledPlugins record from marketplace plugin entries */ -}}
{{- $plugins := dict -}}
{{- range $marketName, $market := .claude_marketplaces -}}
{{-   range $plugin := ($market.plugins | default list) -}}
{{-     $key := printf "%s@%s" $plugin $marketName -}}
{{-     $_ := set $plugins $key true -}}
{{-   end -}}
{{- end -}}
{{- $settings := dict
    "model" "opus"
    "theme" "dark-daltonized"
    "permissions" .permissions
    "alwaysThinkingEnabled" true
-}}
{{- if $plugins -}}
{{-   $_ := set $settings "enabledPlugins" $plugins -}}
{{- end -}}
{{ $settings | toPrettyJson }}
