{
  "mcpServers": {
{{- $first := true }}
{{- $enabled := list }}
{{- if hasKey .workspace_mcp "enabled" }}
{{- $enabled = .workspace_mcp.enabled }}
{{- end }}
{{- range $name := $enabled }}
{{- if hasKey $.workspace_mcp.servers $name }}
{{- if not $first }},{{ end }}
    "{{ $name }}": {
      "type": "http",
      "url": "{{ index $.workspace_mcp.servers $name }}"
    }
{{- $first = false }}
{{- end }}
{{- end }}
  }
}
